*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #eee;
}
.container{
    width: 80%;
    margin: auto;
}
h2{
    text-align: center;
    padding: 10px;
    color: #fff;
    background-color: #2196f3;
    font-weight: bold;
}
.discrepion{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    gap:20px;
}
.desk{
    background-color: #fff;
    width: 100%;
    padding: 10px;
    text-align: center;
    letter-spacing: 1.5px;
    font-size: 20px;
}
button{
    width: 100%;
    padding: 10px;
    background-color: #2196f3;
    cursor: pointer;
    border: none;
    color: #fff;
}
button:hover , .done:hover , .back:hover{
    opacity: 0.8;
}
.word{
    color: #2196f3;
    font-size: 26px;
}
#inp{
    width: 100%;
    padding: 10px;
    border: 3px solid #2196f3;
    border-radius: 4px;
}
#inp:focus{
    outline: none;
}
.contenent{
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    width: 100%;
    justify-content: center;
}
.contenent div{
    color: #fff;
    background-color: #2196f3;
    padding: 4px;
    margin: 5px;
}
.footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
    padding: 10px;
}
.good{
    color: green;
    font-size: 26px;

}
.bad{
    color:red;
    font-size: 26px;
}
form{
    text-align: center;
    background-color: #2196f3;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 150px;
}
form label{
    font-size: 40px;
    color: #fff;
}
form input{
    height: 19px;
    width: 19px;
    line-height: 20px;
    margin: 4px;
}
.done{
    border: 1px solid #2196f3;
    background-color: aqua;
    color: black;
    margin-top: 60px;
    width: 300px;
    padding: 10px;
    cursor: pointer;
    display: block;
    margin-left: 50px;
}
.back{
    background-color: aqua;
    padding: 10px;
    width: 200px;
    text-align: center;
    cursor: pointer;
}